@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url(https://db.onlinewebfonts.com/c/65780863e7302fe257df982341d6a1cb?family=PKMN+RBYGSC+Regular);
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "PKMN RBYGSC Regular";
}

#root{
 height: 100vh;
 width: 100vw;
}

.siteTitle{
  font-family: 'Pokemon Solid';
  font-size: clamp(3rem, -1.5rem + 15vw, 6rem);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(73, 95, 196);
}

.infoDiv, .innerInfoDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.innerInfoDiv{
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

.innerInfoDiv > h2{
  align-items: center;
}

.infoDiv4{
  border-radius: 10px;
  margin: 10px;
}
.divBorder{
  border: 3px black solid;
  box-shadow: 5px 5px 10px;
}

.pokemonName{
  font-size: clamp(3rem, -1.5rem + 15vw, 3rem);
}

.pokemonStats{
  font-size: clamp(1rem, -1rem + 10vw, 2.2rem);
}